@model IEnumerable<BDProjeto.Dominio.Usuarios>

@{
    ViewBag.Title = "Lista de Usuários";
}

<h2>Lista de Usuários</h2>


@foreach (var usuario in Model)
{
    <ul>
        <li>@usuario.Nome</li>
    </ul>


}
@Html.ActionLink("Alunos", "~/Aluno/Aluno")